<!-- Views/Home/Index.cshtml -->
<!DOCTYPE html>
<html>
<head>
    <title>Run PowerShell Script</title>
</head>
<body>
    <form method="post" action="/Home/RunPowerShellScript">
        <button type="submit">Run PowerShell Script</button>
    </form>
</body>
</html>