<!-- Views/Home/Index.cshtml -->
<!DOCTYPE html>
<html>
<head>
    <title>Run PowerShell Script</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <form id="runScriptForm">
        <button type="submit">Run PowerShell Script</button>
    </form>

    <h2>PowerShell Output:</h2>
    <textarea id="outputTextArea" rows="10" cols="50" readonly></textarea>

    <script>
        $(function() {
            $('#runScriptForm').submit(function(e) {
                e.preventDefault();

                $.post('/Home/RunPowerShellScript', function(data) {
                    var outputTextArea = $('#outputTextArea');
                    outputTextArea.val('');

                    $.each(data, function(index, line) {
                        outputTextArea.val(function(_, val) {
                            return val + line + '\n';
                        });
                    });
                });
            });
        });
    </script>
</body>
</html>
